# Where to cache the files OE downloads
# DL_DIR ?= "/path/to/store/downloads"
BBFILES := "/path/to/poky/meta/packages/*/*.bb \
            /path/to/poky/meta-darwin/packages/*/*.bb"

MACHINE = "ipodtouch"
DISTRO = "poky"
POKYMODE = "darwin"
POKYLIBC = "dummy"

DARWINFILES = "ssh://richard@pug.o-hand.com//home/richard/"

BBINCLUDELOGS = "yes"
PACKAGE_CLASSES = "package_ipk package_tar"

