#
# NOTE: There are 4 references to /path/to in this file you need to fix
#

# Where to cache the files OE downloads
# DL_DIR ?= "/path/to/store/downloads"
BBFILES := "/path/to/poky/meta/packages/*/*.bb \
            /path/to/poky/meta-darwin/packages/*/*.bb"

MACHINE = "ipodtouch"
DISTRO = "poky"
POKYMODE = "darwin"
POKYLIBC = "dummy"

DARWINFILES = "ssh://richard@pug.o-hand.com//home/richard/"

BBINCLUDELOGS = "yes"
PACKAGE_CLASSES = "package_ipk package_tar"
INHERIT_INSANE = ""

# odcctools needs 32 bit compat on 64 bit machines
#BUILD_CFLAGS_append_pn-odcctools-cross = " -m32"
#BUILD_LDFLAGS_append_pn-odcctools-cross = " -m32"
#BUILDSDK_CFLAGS_append_pn-odcctools-cross-sdk = " -m32"
#BUILDSDK_LDFLAGS_append_pn-odcctools-cross-sdk = " -m32"

FILESPATH_append = ":/path/to/poky/meta-darwin/files"
